<div class="jumbotron">
    <h1 class="display-4 text-center">Tarjetas de crédito</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                Agregar Tarjeta
            </div>
            <app-tarjeta-credito></app-tarjeta-credito>
        </div>
        <div class="col-md-7">
            <div class="text-center">
                Listado de Tarjetas
            </div>
            <app-list-tarjeta-credito></app-list-tarjeta-credito>
        </div>
    </div>
</div>